@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-chat:before, .icon-facebook:before, .icon-facebook-2:before, .icon-facebook-3:before, .icon-twitter:before, .icon-twitter-2:before, .icon-twitter-3:before, .icon-feed:before, .icon-feed-2:before, .icon-feed-3:before, .icon-youtube:before, .icon-youtube-2:before, .icon-vimeo:before, .icon-vimeo2:before, .icon-vimeo-2:before, .icon-android:before, .icon-skype:before, .icon-firefox:before, .icon-IE:before, .icon-chrome:before, .icon-opera:before, .icon-tumblr:before, .icon-tumblr-2:before, .icon-twitter-4:before, .icon-camera:before, .icon-comment:before, .icon-aperture:before, .icon-aperture-alt:before, .icon-chart:before, .icon-chart-alt:before, .icon-lock-stroke:before, .icon-lock-fill:before, .icon-unlock-stroke:before, .icon-unlock-fill:before, .icon-tag-stroke:before, .icon-tag-fill:before, .icon-download:before, .icon-upload:before, .icon-map-pin-alt:before, .icon-map-pin-fill:before, .icon-map-pin-stroke:before, .icon-paperclip:before, .icon-arrow-down-alt1:before, .icon-arrow-up-alt1:before, .icon-arrow-right-alt1:before, .icon-arrow-left-alt1:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-arrow-up:before, .icon-arrow-down:before, .icon-left-quote:before, .icon-right-quote:before, .icon-cursor:before, .icon-check-alt:before, .icon-x:before, .icon-checkmark:before, .icon-x-altx-alt:before, .icon-fullscreen-exit:before, .icon-fullscreen-exit-alt:before, .icon-fullscreen:before, .icon-fullscreen-alt:before, .icon-info:before, .icon-minus-alt:before, .icon-plus-alt:before, .icon-plus:before, .icon-minus:before, .icon-transfer:before, .icon-move-vertical:before, .icon-mail:before, .icon-heart-stroke:before, .icon-heart-fill:before, .icon-movie:before, .icon-arrow-up-2:before, .icon-arrow-right-2:before, .icon-arrow-down-2:before, .icon-arrow-left-2:before, .icon-arrow-up-3:before, .icon-arrow-right-3:before, .icon-arrow-down-3:before, .icon-arrow-left-3:before, .icon-checkbox-checked:before, .icon-checkbox-unchecked:before, .icon-checkbox-partial:before, .icon-radio-checked:before, .icon-radio-unchecked:before, .icon-star:before, .icon-star-2:before, .icon-star-3:before, .icon-cog:before, .icon-cogs:before, .icon-cog-2:before, .icon-spinner:before, .icon-expand:before, .icon-contract:before, .icon-expand-2:before, .icon-contract-2:before, .icon-zoom-in:before, .icon-zoom-out:before, .icon-user:before, .icon-users:before, .icon-lock:before, .icon-lock-2:before, .icon-unlocked:before, .icon-wrench:before, .icon-settings:before, .icon-equalizer:before, .icon-user-2:before, .icon-home:before, .icon-camera-2:before, .icon-images:before, .icon-music:before, .icon-headphones:before, .icon-play:before, .icon-address-book:before, .icon-qrcode:before, .icon-disk:before, .icon-rocket:before, .icon-compass:before, .icon-camera-3:before, .icon-group:before, .icon-link:before, .icon-alert:before, .icon-comment-2:before, .icon-google:before, .icon-google-plus:before, .icon-google-plus-2:before, .icon-google-plus-3:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-chat:before {
	content: "\e000";
}
.icon-facebook:before {
	content: "\e001";
}
.icon-facebook-2:before {
	content: "\e002";
}
.icon-facebook-3:before {
	content: "\e003";
}
.icon-twitter:before {
	content: "\e004";
}
.icon-twitter-2:before {
	content: "\e005";
}
.icon-twitter-3:before {
	content: "\e006";
}
.icon-feed:before {
	content: "\e007";
}
.icon-feed-2:before {
	content: "\e008";
}
.icon-feed-3:before {
	content: "\e009";
}
.icon-youtube:before {
	content: "\e00a";
}
.icon-youtube-2:before {
	content: "\e00b";
}
.icon-vimeo:before {
	content: "\e00c";
}
.icon-vimeo2:before {
	content: "\e00d";
}
.icon-vimeo-2:before {
	content: "\e00e";
}
.icon-android:before {
	content: "\e00f";
}
.icon-skype:before {
	content: "\e010";
}
.icon-firefox:before {
	content: "\e011";
}
.icon-IE:before {
	content: "\e012";
}
.icon-chrome:before {
	content: "\e013";
}
.icon-opera:before {
	content: "\e014";
}
.icon-tumblr:before {
	content: "\e015";
}
.icon-tumblr-2:before {
	content: "\e016";
}
.icon-twitter-4:before {
	content: "\e017";
}
.icon-camera:before {
	content: "\e018";
}
.icon-comment:before {
	content: "\e019";
}
.icon-aperture:before {
	content: "\e01a";
}
.icon-aperture-alt:before {
	content: "\e01b";
}
.icon-chart:before {
	content: "\e01c";
}
.icon-chart-alt:before {
	content: "\e01d";
}
.icon-lock-stroke:before {
	content: "\e01f";
}
.icon-lock-fill:before {
	content: "\e01e";
}
.icon-unlock-stroke:before {
	content: "\e020";
}
.icon-unlock-fill:before {
	content: "\e021";
}
.icon-tag-stroke:before {
	content: "\e022";
}
.icon-tag-fill:before {
	content: "\e023";
}
.icon-download:before {
	content: "\e024";
}
.icon-upload:before {
	content: "\e025";
}
.icon-map-pin-alt:before {
	content: "\e026";
}
.icon-map-pin-fill:before {
	content: "\e027";
}
.icon-map-pin-stroke:before {
	content: "\e028";
}
.icon-paperclip:before {
	content: "\e029";
}
.icon-arrow-down-alt1:before {
	content: "\e02a";
}
.icon-arrow-up-alt1:before {
	content: "\e02b";
}
.icon-arrow-right-alt1:before {
	content: "\e02c";
}
.icon-arrow-left-alt1:before {
	content: "\e02d";
}
.icon-arrow-left:before {
	content: "\e02e";
}
.icon-arrow-right:before {
	content: "\e02f";
}
.icon-arrow-up:before {
	content: "\e030";
}
.icon-arrow-down:before {
	content: "\e031";
}
.icon-left-quote:before {
	content: "\e032";
}
.icon-right-quote:before {
	content: "\e033";
}
.icon-cursor:before {
	content: "\e034";
}
.icon-check-alt:before {
	content: "\e035";
}
.icon-x:before {
	content: "\e036";
}
.icon-checkmark:before {
	content: "\e037";
}
.icon-x-altx-alt:before {
	content: "\e038";
}
.icon-fullscreen-exit:before {
	content: "\e039";
}
.icon-fullscreen-exit-alt:before {
	content: "\e03a";
}
.icon-fullscreen:before {
	content: "\e03b";
}
.icon-fullscreen-alt:before {
	content: "\e03c";
}
.icon-info:before {
	content: "\e03d";
}
.icon-minus-alt:before {
	content: "\e03e";
}
.icon-plus-alt:before {
	content: "\e040";
}
.icon-plus:before {
	content: "\e03f";
}
.icon-minus:before {
	content: "\e041";
}
.icon-transfer:before {
	content: "\e042";
}
.icon-move-vertical:before {
	content: "\e044";
}
.icon-mail:before {
	content: "\e043";
}
.icon-heart-stroke:before {
	content: "\e045";
}
.icon-heart-fill:before {
	content: "\e046";
}
.icon-movie:before {
	content: "\e047";
}
.icon-arrow-up-2:before {
	content: "\e048";
}
.icon-arrow-right-2:before {
	content: "\e049";
}
.icon-arrow-down-2:before {
	content: "\e04a";
}
.icon-arrow-left-2:before {
	content: "\e04b";
}
.icon-arrow-up-3:before {
	content: "\e04c";
}
.icon-arrow-right-3:before {
	content: "\e04d";
}
.icon-arrow-down-3:before {
	content: "\e04e";
}
.icon-arrow-left-3:before {
	content: "\e04f";
}
.icon-checkbox-checked:before {
	content: "\e050";
}
.icon-checkbox-unchecked:before {
	content: "\e051";
}
.icon-checkbox-partial:before {
	content: "\e052";
}
.icon-radio-checked:before {
	content: "\e053";
}
.icon-radio-unchecked:before {
	content: "\e054";
}
.icon-star:before {
	content: "\e055";
}
.icon-star-2:before {
	content: "\e056";
}
.icon-star-3:before {
	content: "\e057";
}
.icon-cog:before {
	content: "\e058";
}
.icon-cogs:before {
	content: "\e059";
}
.icon-cog-2:before {
	content: "\e05a";
}
.icon-spinner:before {
	content: "\e05b";
}
.icon-expand:before {
	content: "\e05c";
}
.icon-contract:before {
	content: "\e05d";
}
.icon-expand-2:before {
	content: "\e05e";
}
.icon-contract-2:before {
	content: "\e05f";
}
.icon-zoom-in:before {
	content: "\e060";
}
.icon-zoom-out:before {
	content: "\e061";
}
.icon-user:before {
	content: "\e062";
}
.icon-users:before {
	content: "\e063";
}
.icon-lock:before {
	content: "\e064";
}
.icon-lock-2:before {
	content: "\e065";
}
.icon-unlocked:before {
	content: "\e066";
}
.icon-wrench:before {
	content: "\e067";
}
.icon-settings:before {
	content: "\e068";
}
.icon-equalizer:before {
	content: "\e069";
}
.icon-user-2:before {
	content: "\e06a";
}
.icon-home:before {
	content: "\e06b";
}
.icon-camera-2:before {
	content: "\e06c";
}
.icon-images:before {
	content: "\e06d";
}
.icon-music:before {
	content: "\e06e";
}
.icon-headphones:before {
	content: "\e06f";
}
.icon-play:before {
	content: "\e070";
}
.icon-address-book:before {
	content: "\e071";
}
.icon-qrcode:before {
	content: "\e072";
}
.icon-disk:before {
	content: "\e073";
}
.icon-rocket:before {
	content: "\e074";
}
.icon-compass:before {
	content: "\e075";
}
.icon-camera-3:before {
	content: "\e076";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-link:before {
	content: "\f0c1";
}
.icon-alert:before {
	content: "\e077";
}
.icon-comment-2:before {
	content: "\e078";
}
.icon-google:before {
	content: "\e079";
}
.icon-google-plus:before {
	content: "\e07a";
}
.icon-google-plus-2:before {
	content: "\e07b";
}
.icon-google-plus-3:before {
	content: "\e07c";
}
